In [1]:
import pandas as pd
import re
pd.set_option('display.max_rows' , 200)

In [2]:
company_name = 'dmart'.upper()

In [3]:
particulars = 'particulars'

In [4]:
share_price_in = 1000000;

In [5]:
def calculate_growth(current , previous) :
    if current == 0 and previous == 0 or current == 0 and previous != 0:
        return 0
    if current != 0 and previous == 0 :
        return current / 100
    return ((current/previous) - 1)

In [6]:
def calculate_growth_series(curr_df,prev_df):
    temp_df = curr_df.copy()
    for index in curr_df.index :
        temp_df.loc[index] = calculate_growth(curr_df.loc[index],prev_df[index])
    return temp_df

In [7]:
def get_share_price_in(price) :
    return round((price / share_price_in),2)

In [8]:
def vertical_analysis(item , divider) :
    return item/divider

In [9]:
def round_off_to(num , limit) :
    return round(num,limit)

In [10]:
def count_leading_space(s): 
    match = re.search(r"^\s*", s) 
    return 0 if not match else match.end()

In [11]:
def getColumnFormatterbyPercentage(type) :
    columns_perc_formats = {}
    if type == 'income_statement' :
        for column in income_statement.columns[1:] :
            columns_perc_formats[column] = '{:,.2%}'
    elif type == 'balance_sheet' :
        for column in balance_sheet.columns[1:] :
            columns_perc_formats[column] = '{:,.2%}'
    elif type == 'cashflow_statement' :
        for column in cashflow_statement.columns[1:] :
            columns_perc_formats[column] = '{:,.2%}'
    return columns_perc_formats

In [12]:
def styles(color = 'white',backcolor = '#308D46'):
    return [dict(selector="caption",
                       props=[("text-align", "center"),
                              ("font-size", "150%"),
                              ("color", color),
                              ("background", backcolor),
                              ("font-weight", '600'),
                              ("text-transform", 'uppercase')
                             ])]

In [13]:
income_statement = pd.read_excel('data/'+company_name+'/'+company_name+'-income.xls')
balance_sheet = pd.read_excel('data/'+company_name+'/'+company_name+'-balance.xls')
cashflow_statement = pd.read_excel('data/'+company_name+'/'+company_name+'-cashflow.xls')

In [14]:
start_col = income_statement.columns[1];
start_col_balance_sheet = balance_sheet.columns[1];
start_col_cashflow = cashflow_statement.columns[1];

In [15]:
income_statement_temp_columns = income_statement.columns.values
income_statement_temp_columns[0] = particulars
income_statement.columns = income_statement_temp_columns

balance_sheet_temp_columns = balance_sheet.columns.values
balance_sheet_temp_columns[0] = particulars
balance_sheet.columns = balance_sheet_temp_columns

cashflow_statement_temp_columns = cashflow_statement.columns.values
cashflow_statement_temp_columns[0] = particulars
cashflow_statement.columns = cashflow_statement_temp_columns

In [16]:
basic_eps_filter = income_statement[particulars].eq('Basic EPS')
basic_eps_pos = income_statement[basic_eps_filter].index[0]

In [17]:
WASO_filter = income_statement[particulars].isin(['Basic Weighted Average Shares Outstanding','Diluted Weighted Average Shares Outstanding','Basic WASO','Diluted WASO'])
waso_pos = income_statement[WASO_filter].index

In [18]:
income_statement.dropna(how='all',subset=income_statement.columns[1:], inplace=True)
balance_sheet.dropna(how='all',subset=balance_sheet.columns[1:], inplace=True)
cashflow_statement.dropna(how='all',subset=cashflow_statement.columns[1:], inplace=True)
income_statement.fillna(0 , inplace=True)
balance_sheet.fillna(0 , inplace=True)
cashflow_statement.fillna(0 , inplace=True)

In [19]:
temp_df = income_statement.loc[0:basic_eps_pos,start_col:].copy()
temp_df = pd.DataFrame(temp_df)

In [20]:
temp_df = temp_df.apply(get_share_price_in)

In [21]:
income_statement.loc[0:basic_eps_pos,start_col:] = temp_df

In [22]:
income_statement.loc[waso_pos,start_col:] = income_statement.loc[waso_pos,start_col:].apply(get_share_price_in)

In [23]:
temp_revenue = income_statement.loc[1]
income_statement.loc[1] = income_statement.loc[0]
income_statement.loc[0] = temp_revenue

In [24]:
total_rev = income_statement[particulars].index == 0
income_statement.loc[total_rev,particulars] = income_statement.loc[total_rev,particulars].values[0].strip()

In [25]:
is_highlighted_indexes = pd.DataFrame(income_statement.loc[0:basic_eps_pos - 1,particulars])
is_highlighted_indexes = is_highlighted_indexes[particulars].apply(count_leading_space).isin([0,4])
is_highlighted_indexes = is_highlighted_indexes.loc[is_highlighted_indexes].index

In [26]:
balance_sheet.loc[0:,start_col_balance_sheet:] =  balance_sheet.loc[0:,start_col_balance_sheet:].applymap(get_share_price_in)

In [27]:
total_equity_filter = balance_sheet[particulars].apply(lambda x: x.strip()).eq('Total Equity')
total_equity_row = balance_sheet.loc[total_equity_filter,start_col_balance_sheet:].index.values[0]
total_assets_filter = balance_sheet[particulars].apply(lambda x: x.strip()).eq('Total Assets')
total_assets_row = balance_sheet.loc[total_assets_filter,start_col_balance_sheet:]
total_liabilities_filter = balance_sheet[particulars].apply(lambda x: x.strip()).eq('Total Liabilities')
total_liabilities_row = balance_sheet.loc[total_liabilities_filter,start_col_balance_sheet:].index.values[0]
balance_sheet.loc[total_liabilities_filter,start_col_balance_sheet:] = balance_sheet.loc[[total_equity_row,total_liabilities_row],start_col_balance_sheet:].sum().values

In [28]:
cashflow_statement.loc[0:,start_col_cashflow:] =  cashflow_statement.loc[0:,start_col_cashflow:].applymap(get_share_price_in)

In [29]:
vertical_analysis_is = pd.DataFrame(columns=income_statement.columns) 
vertical_analysis_is[particulars] = income_statement.loc[0:basic_eps_pos - 1,particulars].copy()

In [30]:
total_revenue_filter = income_statement[particulars].apply(lambda x: x.strip()).eq('Total Revenue')
total_revenue = income_statement.loc[total_revenue_filter,start_col:]

In [31]:
for column in vertical_analysis_is.columns[1:] : 
    vertical_analysis_is[column] = income_statement.loc[0:basic_eps_pos - 1,column].apply(vertical_analysis,divider=total_revenue[column])
vertical_analysis_is.loc[0,particulars] = vertical_analysis_is.loc[0,particulars].strip()

In [32]:
def row_style(row , list , key , color,bgcolor):
   if row[key] in list :
       return pd.Series('color:'+color+';background-color:'+bgcolor, row.index)
   else :
        return pd.Series('', row.index)

In [33]:
fil = vertical_analysis_is.loc[0:basic_eps_pos - 1,particulars].apply(count_leading_space).eq(0)
templist = vertical_analysis_is.loc[fil,particulars].values
vertical_analysis_is_style = vertical_analysis_is
vertical_analysis_is_style = vertical_analysis_is_style.loc[is_highlighted_indexes].style.apply(row_style,list=templist,color="black",bgcolor="#f1e05a",key=particulars,axis=1).set_caption(company_name+ " income statement vertical analysis").set_table_styles(styles('black',"rgba(66, 165, 245, 0.2)")).format(getColumnFormatterbyPercentage('income_statement'),precision=2) 
fil = None
templist = None

In [34]:
balance_sheet_va_results_till = balance_sheet[particulars].apply(lambda x: x.strip()).eq('Non-Controlling/Minority Interests in Equity')
balance_sheet_va_results_till = balance_sheet[balance_sheet_va_results_till].index.values[0]
bs_va_temp = balance_sheet.loc[:balance_sheet_va_results_till]
bs_va_temp = pd.DataFrame(bs_va_temp)
filt = bs_va_temp[particulars].apply(count_leading_space).isin([0,4,8])
balance_sheet_va = pd.DataFrame(bs_va_temp[filt])
bs_va_temp = None
balance_sheet_va_results_till = None
filt = None

In [35]:
for column in balance_sheet_va.columns[1:] :
    balance_sheet_va[column] = balance_sheet_va.loc[:,column].apply(vertical_analysis,divider=total_assets_row[column])

In [36]:
bs_fil = balance_sheet_va[particulars].apply(count_leading_space).isin([0,4])
bs_templist = balance_sheet_va.loc[bs_fil,particulars].values
balance_sheet_va_style = balance_sheet_va
balance_sheet_va_style = balance_sheet_va_style.style.apply(row_style,list=bs_templist,color="black",bgcolor="#f1e05a",key=particulars,axis=1).set_caption(company_name+ " balance sheet vertical analysis").set_table_styles(styles('black',"rgba(66, 165, 245, 0.2)")).format(getColumnFormatterbyPercentage('balance_sheet'),precision=2) 
bs_fil = None
bs_templist = None

In [37]:
#vertical_analysis_is_style

In [38]:
#balance_sheet_va_style

In [39]:
income_statement_ha = pd.DataFrame(columns= income_statement.columns)

In [40]:
income_statement_ha[particulars] = income_statement[particulars]

In [41]:
income_statement_ha.fillna(0 , inplace=True)

In [42]:
temp_ha_filt = income_statement[particulars].apply(count_leading_space).isin([0,4])
for index , column in enumerate(income_statement_ha.columns) :
    if index < 2 :
        pass;
    else:
        prevColumn = income_statement.columns[index-1]
        income_statement_ha.loc[temp_ha_filt,column] = calculate_growth_series(income_statement.loc[temp_ha_filt,column],income_statement.loc[temp_ha_filt,prevColumn])

In [43]:
income_statement_ha = income_statement_ha[temp_ha_filt]

In [44]:
#income_statement_ha.replace([float('inf'), float('-inf')], None, inplace=True)
#income_statement_ha.fillna(0 , inplace=True)

In [45]:
temp_ha_filt = income_statement[particulars].apply(count_leading_space).isin([0])
iha_templist = income_statement_ha.loc[temp_ha_filt,particulars].values
income_statement_ha_style = income_statement_ha
income_statement_ha_style = income_statement_ha.style.apply(row_style,list=iha_templist,color="black",bgcolor="#f1e05a",key=particulars,axis=1).set_caption(company_name+ " Income statement horizontal analysis").set_table_styles(styles('black',"rgba(66, 165, 245, 0.2)")).format(getColumnFormatterbyPercentage('income_statement'),precision=2)

In [46]:
balance_sheet_ha_results_till = balance_sheet[particulars].apply(lambda x: x.strip()).eq('Non-Controlling/Minority Interests in Equity')
balance_sheet_ha_results_till = balance_sheet[balance_sheet_ha_results_till].index.values[0]
bs_ha_temp = balance_sheet.loc[:balance_sheet_ha_results_till]
bs_ha_temp = pd.DataFrame(bs_ha_temp)
filt = bs_ha_temp[particulars].apply(count_leading_space).isin([0,4,8])
balance_sheet_ha = pd.DataFrame(bs_ha_temp[filt])

In [47]:
for index , column in enumerate(balance_sheet_ha.columns) :
    if index < 2 :
        pass;
    else:
        prevColumn = balance_sheet_ha.columns[index-1]
        balance_sheet_ha.loc[:,column] = calculate_growth_series(balance_sheet.loc[:,column],balance_sheet.loc[:,prevColumn])
balance_sheet_ha[start_col_balance_sheet] = 0.0
prevColumn = None

In [48]:
bs_fil_ha = balance_sheet_ha[particulars].apply(count_leading_space).isin([0,4])
bs_templist_ha = balance_sheet_ha.loc[bs_fil_ha,particulars].values
balance_sheet_ha_style = balance_sheet_ha
balance_sheet_ha_style = balance_sheet_ha.style.apply(row_style,list=bs_templist_ha,color="black",bgcolor="#f1e05a",key=particulars,axis=1).set_caption(company_name+ " balance sheet horizontal analysis").set_table_styles(styles('black',"rgba(66, 165, 245, 0.2)")).format(getColumnFormatterbyPercentage('balance_sheet'),precision=2) 
bs_fil_ha = None
bs_templist_ha = None

In [49]:
cashflow_statement_filt = cashflow_statement[particulars].apply(count_leading_space).isin([0,8,12])
cash_flow_stmt_ha = pd.DataFrame(cashflow_statement[cashflow_statement_filt])
cash_flow_stmt_ha.reset_index(inplace=True, drop=True)
cash_flow_stmt_ha_temp = cash_flow_stmt_ha.copy()

In [50]:
for index , column in enumerate(cash_flow_stmt_ha.columns) :
    if index < 2 :
        pass;
    else:
        prevColumn = cash_flow_stmt_ha.columns[index-1]
        cash_flow_stmt_ha.loc[:,column] = calculate_growth_series(cash_flow_stmt_ha_temp.loc[:,column],cash_flow_stmt_ha_temp.loc[:,prevColumn])
cash_flow_stmt_ha[start_col_cashflow] = 0.0
cash_flow_stmt_ha_temp = None
cashflow_statement_filt = None
prevColumn = None

In [51]:
cf_fil_ha = cash_flow_stmt_ha[particulars].apply(count_leading_space).isin([0])
cf_templist_ha = cash_flow_stmt_ha.loc[cf_fil_ha,particulars].values
cash_flow_stmt_ha_style = cash_flow_stmt_ha
cash_flow_stmt_ha_style = cash_flow_stmt_ha.style.apply(row_style,list=cf_templist_ha,color="black",bgcolor="#f1e05a",key=particulars,axis=1).set_caption(company_name+ " cash flow horizontal analysis").set_table_styles(styles('black',"rgba(66, 165, 245, 0.2)")).format(getColumnFormatterbyPercentage('cashflow_statement'),precision=2) 
cf_fil_ha = None
cf_templist_ha = None

In [52]:
#income_statement_ha_style

In [53]:
#balance_sheet_ha_style

In [54]:
#cash_flow_stmt_ha_style

In [55]:
income_statement

,particulars,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,TTM
0,Total Revenue,33329.73,46755.87,64246.70,85654.93,118976.96,150700.52,200310.00,248740.90,240984.50,308852.10,409408.40
1,Gross Profit,4755.37,6911.59,9374.77,12577.19,18166.60,23623.76,29664.90,37297.20,35171.40,44610.10,61638.20
2,Business Revenue,35651.49,50007.53,68759.25,91592.20,118976.96,165420.20,219815.90,272520.00,263382.40,338217.10,438773.40
3,Excise Taxes,-2321.76,-3251.66,-4512.55,-5937.27,0.00,-14719.68,-19505.90,-23779.10,-22397.90,-29365.00,0.00
4,Cost of Revenue,-28574.36,-39844.28,-54871.93,-73077.74,-100810.36,-127076.76,-170645.10,-211443.70,-205813.10,-264242.00,-347770.20
5,Cost of Goods and Services,-28574.36,-39844.28,-54871.93,-73077.74,-100810.36,-127076.76,-170645.10,-211443.70,-205813.10,-264242.00,-347770.20
6,Operating Income/Expenses,-3049.22,-4052.31,-5582.19,-6915.65,-9614.05,-11685.04,-15456.70,-19758.20,-21864.70,-24567.40,-31762.90
7,"Selling, General and Administrative Expenses",-1775.63,-2414.97,-3340.64,-4062.07,-5347.05,-6712.54,-8712.40,-10416.70,-12244.30,-13527.20,-14581.30
8,Staff Costs,-1304.35,-1810.40,-2511.92,-3005.00,-4868.45,-6070.46,-7785.00,-10223.30,-12008.70,-13241.00,-14295.10
9,Wages and Salaries,0.00,0.00,0.00,0.00,-2941.72,-3239.11,-4223.30,-5651.90,-6632.90,-7067.40,0.00
10,Directors' Remuneration,0.00,0.00,0.00,0.00,-1.61,-5.54,-7.50,-10.40,-10.10,-11.50,0.00
11,Other Staff Costs,-1304.35,-1810.40,-2511.92,-3005.00,-1925.12,-2825.80,-3554.20,-4561.00,-5365.70,-6162.10,0.00
12,"Legal, Accounting, Auditing and Consul...",-24.39,-27.14,-76.53,-79.16,-102.11,-101.58,-118.30,-116.10,-87.40,-102.00,0.00
13,Legal Fees,-20.82,-23.56,-72.62,-75.53,-95.68,-96.39,-112.80,-109.10,-80.40,-94.00,0.00
14,Auditor Fees,-2.84,-3.42,-3.77,-3.54,-3.55,-3.55,-4.30,-6.40,-6.90,-7.90,0.00
15,Non-Audit Fees Paid to Auditor,-0.73,-0.16,-0.14,-0.09,-2.87,-1.64,-1.20,-0.60,-0.10,-0.10,0.00
16,Telecommunication Expense,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-56.90,-62.70,0.00
17,Insurance and Claims,-4.13,-5.66,-6.78,-7.15,-22.26,-42.10,-52.00,-66.00,-78.10,-106.50,0.00
18,Rent Expense,-74.03,-87.58,-131.84,-203.88,-354.24,-498.41,-757.10,-11.30,-13.20,-15.00,0.00
19,General and Administrative Expenses,-61.20,-60.63,-86.55,-99.72,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,Selling and Marketing Expenses,-307.53,-423.56,-527.02,-667.16,0.00,0.00,0.00,0.00,0.00,0.00,0.00
21,Operation and Maintenance Expenses,-152.91,-192.72,-252.24,-323.49,-387.23,-498.07,-773.90,-807.70,-831.40,-991.10,0.00
22,"Depreciation, Amortization and Depletion",-457.86,-570.13,-815.41,-984.29,-1278.19,-1589.96,-2124.90,-3744.10,-4141.60,-4980.80,-6211.20
23,Depreciation and Amortization,-457.86,-570.13,-815.41,-984.29,-1278.19,-1589.96,-2124.90,-3744.10,-4141.60,-4980.80,-6211.20
24,Depreciation,-447.57,-556.15,-800.94,-968.11,0.00,-1557.60,-2035.00,-3635.80,-3982.70,-4793.80,0.00
25,Amortization,-10.29,-13.98,-14.47,-16.18,0.00,-32.36,-89.90,-108.30,-158.90,-187.00,0.00
26,"Other Income/Expense, Operating",-664.61,-878.75,-1176.57,-1547.63,-2601.58,-2884.47,-3845.50,-4789.70,-4647.40,-5068.30,-9979.30
27,"Other Income, Operating",78.81,109.01,147.63,226.26,0.00,351.81,371.90,375.50,712.40,1178.70,0.00
28,"Other Expenses, Operating",-743.42,-987.76,-1324.20,-1773.89,-2601.58,-3236.28,-4217.40,-5165.20,-5359.80,-6247.00,-11158.00
29,Provisions,1.79,4.26,2.67,1.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00
30,Other Provisions,1.79,4.26,2.67,1.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00
31,Total Operating Profit/Loss,1706.15,2859.28,3792.58,5661.54,8552.55,11938.72,14208.20,17539.00,13306.70,20042.70,29875.30
32,"Non-Operating Income/Expense, Total",-297.27,-410.04,-559.12,-739.37,-1081.71,281.97,11.20,-91.30,1527.80,598.50,564.80
33,Total Net Finance Income/Expense,-422.53,-545.67,-718.60,-902.07,-1176.60,-160.56,-236.20,-366.30,1364.80,501.70,354.50
34,Net Interest Income/Expense,-419.76,-542.33,-713.24,-898.26,-1172.18,-125.13,-231.80,-354.80,1367.30,503.50,356.30
35,Interest Expense Net of Capitalize...,-423.08,-553.42,-718.25,-904.43,-1215.36,-560.04,-467.70,-679.70,-414.00,-536.10,-683.30
36,Gross Interest,-497.92,-629.62,-830.71,-1015.05,-1329.64,-560.04,0.00,-849.40,-414.00,0.00,0.00
37,Interest Capitalized,74.84,76.20,112.46,110.62,114.28,0.00,0.00,169.70,0.00,0.00,0.00
38,Interest Income,3.32,11.09,5.01,6.17,43.19,434.91,235.90,324.90,1781.30,1039.60,0.00
39,Other Finance Income/Expenses,-2.77,-3.34,-5.36,-3.81,-4.42,-35.43,-4.40,-11.50,-2.50,-1.80,0.00
40,Other Finance Expenses,-2.77,-3.34,-5.36,-3.81,-4.42,-35.43,-4.40,-11.50,-2.50,-1.80,0.00
41,Net Investment Income,8.66,9.66,34.78,25.96,-49.58,353.56,173.30,187.90,102.90,63.60,0.00
42,Gain/Loss on Investments and Other Fin...,8.51,9.83,34.47,25.48,78.15,168.80,113.50,101.60,25.60,36.60,0.00
43,Gain/Loss on Foreign Currency Exchange,0.15,-0.17,0.31,0.48,1.28,-0.02,59.80,86.30,77.30,27.00,0.00
44,Unrealized Gain/Loss on Foreign Cu...,0.15,-0.17,0.31,0.48,1.28,-0.02,0.00,0.00,0.00,0.00,0.00
45,"Income from Associates, JointVentures ...",0.00,0.00,0.00,0.00,-129.21,184.77,0.00,0.00,0.00,0.00,0.00
46,Share of Profit and Interest from ...,0.00,0.00,0.00,0.00,-129.21,184.77,0.00,0.00,0.00,0.00,0.00
47,Dividend and Investment Income,0.00,0.00,0.00,0.00,0.19,0.00,0.00,0.00,0.00,0.00,0.00
48,Rental Income,125.61,128.78,136.81,140.88,155.13,48.92,36.00,28.80,28.90,35.50,0.00
49,Irregular Income/Expense,-12.13,-7.22,-15.40,-9.16,-19.60,29.47,9.90,24.50,-17.80,-38.50,-38.50
50,Fixed Asset Disposals,-4.91,-5.54,-14.37,-8.46,-8.51,29.50,9.90,24.50,-17.80,-38.50,-38.50
51,Write Off/Write Down of Other Assets,-7.22,-1.68,-1.03,-0.70,-7.38,-0.03,0.00,0.00,0.00,0.00,0.00
52,Other Irregular Income/Expense,0.00,0.00,0.00,0.00,-3.71,0.00,0.00,0.00,0.00,0.00,0.00
53,"Other Income/Expense, Non-Operating",3.12,4.41,3.29,5.02,8.94,10.59,28.20,33.80,49.00,36.20,149.70
54,Pretax Income,1408.88,2449.24,3233.46,4922.17,7470.84,12220.69,14219.40,17447.70,14834.50,20641.20,30440.10
55,Provision for Income Tax,-471.98,-834.99,-1109.20,-1716.20,-2682.86,-4157.93,-5194.80,-4437.90,-3840.20,-5717.20,-6990.20
56,Current Tax,-401.50,-770.85,-1064.98,-1620.90,-2560.84,-4217.08,-5091.30,-4597.40,-3946.90,-5463.30,-8021.80
57,Deferred Tax,-70.48,-64.32,-44.22,-93.98,-106.24,54.71,-180.20,159.70,-31.70,-121.00,-243.20
58,Net Income before Extraordinary Items and Disc...,936.90,1614.25,2124.26,3184.27,4787.98,8062.76,9024.60,13009.80,10994.30,14924.00,23449.90
59,Net Income after Extraordinary Items and Disco...,938.55,1613.72,2117.16,3188.05,4787.98,8062.76,9024.60,13009.80,10994.30,14924.00,23449.90
60,Non-Controlling/Minority Interests,0.00,0.00,-0.44,-0.46,-0.46,-0.23,0.80,-1.00,0.60,1.50,2.20
61,Net Income after Non-Controlling/Minority Inte...,938.55,1613.72,2116.72,3187.59,4787.52,8062.52,9025.40,13010.80,10994.90,14925.50,23452.10
62,Net Income Available to Common Stockholders,938.55,1613.72,2116.72,3187.59,4787.52,8062.52,9025.40,13010.80,10994.90,14925.50,23452.10
63,Diluted Net Income Available to Common Stockho...,938.55,1613.72,2116.72,3187.59,4787.52,8062.52,9025.40,13010.80,10994.90,14925.50,23452.10
66,"Total Revenue as Reported, Supplemental",33551.04,47023.25,64576.89,86061.05,0.00,150331.99,200045.20,248702.00,241430.60,309762.70,410319.00
67,Earnings from Equity Interest,0.00,0.00,0.00,-21.70,0.00,0.00,0.00,0.00,0.00,0.00,0.00
68,Other Net of Taxes Adjustments,1.65,-0.53,-7.10,3.78,0.00,0.00,0.00,0.00,0.00,0.00,0.00
69,Basic EPS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
70,Basic EPS from Continuing Operations,1.50,2.59,3.39,5.11,8.49,12.92,14.46,20.71,16.97,23.04,36.20
71,Diluted EPS,1.50,2.59,3.39,5.11,8.48,12.76,14.26,20.55,16.85,22.86,35.92
72,Diluted EPS from Continuing Operations,1.50,2.59,3.39,5.11,8.48,12.76,14.26,20.55,16.85,22.86,35.92
73,Basic Weighted Average Shares Outstanding,624.08,624.08,624.08,624.08,563.94,624.08,624.08,628.14,647.77,647.77,647.80
74,Diluted Weighted Average Shares Outstanding,624.08,624.08,624.08,624.08,564.63,632.08,633.06,632.98,652.59,652.89,652.85
75,Basic EPS,1.50,2.59,3.39,5.11,8.49,12.92,14.46,20.71,16.97,23.04,36.20
76,Diluted EPS,1.50,2.59,3.39,5.11,8.48,12.76,14.26,20.55,16.85,22.86,35.92
77,Basic WASO,624.08,624.08,624.08,624.08,563.94,624.08,624.08,628.14,647.77,647.77,647.80
78,Diluted WASO,624.08,624.08,624.08,624.08,564.63,632.08,633.06,632.98,652.59,652.89,652.85

In [56]:
is_trend_df = pd.DataFrame(columns=income_statement.columns)

In [66]:
is_trend_df[particulars] = income_statement[particulars]
is_trend_df.fillna(0,inplace=True)

In [64]:
is_trend_base = income_statement[start_col]

In [68]:
is_trend_df

,particulars,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,TTM
0,Total Revenue,0,0,0,0,0,0,0,0,0,0,0
1,Gross Profit,0,0,0,0,0,0,0,0,0,0,0
2,Business Revenue,0,0,0,0,0,0,0,0,0,0,0
3,Excise Taxes,0,0,0,0,0,0,0,0,0,0,0
4,Cost of Revenue,0,0,0,0,0,0,0,0,0,0,0
5,Cost of Goods and Services,0,0,0,0,0,0,0,0,0,0,0
6,Operating Income/Expenses,0,0,0,0,0,0,0,0,0,0,0
7,"Selling, General and Administrative Expenses",0,0,0,0,0,0,0,0,0,0,0
8,Staff Costs,0,0,0,0,0,0,0,0,0,0,0
9,Wages and Salaries,0,0,0,0,0,0,0,0,0,0,0
10,Directors' Remuneration,0,0,0,0,0,0,0,0,0,0,0
11,Other Staff Costs,0,0,0,0,0,0,0,0,0,0,0
12,"Legal, Accounting, Auditing and Consul...",0,0,0,0,0,0,0,0,0,0,0
13,Legal Fees,0,0,0,0,0,0,0,0,0,0,0
14,Auditor Fees,0,0,0,0,0,0,0,0,0,0,0
15,Non-Audit Fees Paid to Auditor,0,0,0,0,0,0,0,0,0,0,0
16,Telecommunication Expense,0,0,0,0,0,0,0,0,0,0,0
17,Insurance and Claims,0,0,0,0,0,0,0,0,0,0,0
18,Rent Expense,0,0,0,0,0,0,0,0,0,0,0
19,General and Administrative Expenses,0,0,0,0,0,0,0,0,0,0,0
20,Selling and Marketing Expenses,0,0,0,0,0,0,0,0,0,0,0
21,Operation and Maintenance Expenses,0,0,0,0,0,0,0,0,0,0,0
22,"Depreciation, Amortization and Depletion",0,0,0,0,0,0,0,0,0,0,0
23,Depreciation and Amortization,0,0,0,0,0,0,0,0,0,0,0
24,Depreciation,0,0,0,0,0,0,0,0,0,0,0
25,Amortization,0,0,0,0,0,0,0,0,0,0,0
26,"Other Income/Expense, Operating",0,0,0,0,0,0,0,0,0,0,0
27,"Other Income, Operating",0,0,0,0,0,0,0,0,0,0,0
28,"Other Expenses, Operating",0,0,0,0,0,0,0,0,0,0,0
29,Provisions,0,0,0,0,0,0,0,0,0,0,0
30,Other Provisions,0,0,0,0,0,0,0,0,0,0,0
31,Total Operating Profit/Loss,0,0,0,0,0,0,0,0,0,0,0
32,"Non-Operating Income/Expense, Total",0,0,0,0,0,0,0,0,0,0,0
33,Total Net Finance Income/Expense,0,0,0,0,0,0,0,0,0,0,0
34,Net Interest Income/Expense,0,0,0,0,0,0,0,0,0,0,0
35,Interest Expense Net of Capitalize...,0,0,0,0,0,0,0,0,0,0,0
36,Gross Interest,0,0,0,0,0,0,0,0,0,0,0
37,Interest Capitalized,0,0,0,0,0,0,0,0,0,0,0
38,Interest Income,0,0,0,0,0,0,0,0,0,0,0
39,Other Finance Income/Expenses,0,0,0,0,0,0,0,0,0,0,0
40,Other Finance Expenses,0,0,0,0,0,0,0,0,0,0,0
41,Net Investment Income,0,0,0,0,0,0,0,0,0,0,0
42,Gain/Loss on Investments and Other Fin...,0,0,0,0,0,0,0,0,0,0,0
43,Gain/Loss on Foreign Currency Exchange,0,0,0,0,0,0,0,0,0,0,0
44,Unrealized Gain/Loss on Foreign Cu...,0,0,0,0,0,0,0,0,0,0,0
45,"Income from Associates, JointVentures ...",0,0,0,0,0,0,0,0,0,0,0
46,Share of Profit and Interest from ...,0,0,0,0,0,0,0,0,0,0,0
47,Dividend and Investment Income,0,0,0,0,0,0,0,0,0,0,0
48,Rental Income,0,0,0,0,0,0,0,0,0,0,0
49,Irregular Income/Expense,0,0,0,0,0,0,0,0,0,0,0
50,Fixed Asset Disposals,0,0,0,0,0,0,0,0,0,0,0
51,Write Off/Write Down of Other Assets,0,0,0,0,0,0,0,0,0,0,0
52,Other Irregular Income/Expense,0,0,0,0,0,0,0,0,0,0,0
53,"Other Income/Expense, Non-Operating",0,0,0,0,0,0,0,0,0,0,0
54,Pretax Income,0,0,0,0,0,0,0,0,0,0,0
55,Provision for Income Tax,0,0,0,0,0,0,0,0,0,0,0
56,Current Tax,0,0,0,0,0,0,0,0,0,0,0
57,Deferred Tax,0,0,0,0,0,0,0,0,0,0,0
58,Net Income before Extraordinary Items and Disc...,0,0,0,0,0,0,0,0,0,0,0
59,Net Income after Extraordinary Items and Disco...,0,0,0,0,0,0,0,0,0,0,0
60,Non-Controlling/Minority Interests,0,0,0,0,0,0,0,0,0,0,0
61,Net Income after Non-Controlling/Minority Inte...,0,0,0,0,0,0,0,0,0,0,0
62,Net Income Available to Common Stockholders,0,0,0,0,0,0,0,0,0,0,0
63,Diluted Net Income Available to Common Stockho...,0,0,0,0,0,0,0,0,0,0,0
66,"Total Revenue as Reported, Supplemental",0,0,0,0,0,0,0,0,0,0,0
67,Earnings from Equity Interest,0,0,0,0,0,0,0,0,0,0,0
68,Other Net of Taxes Adjustments,0,0,0,0,0,0,0,0,0,0,0
69,Basic EPS,0,0,0,0,0,0,0,0,0,0,0
70,Basic EPS from Continuing Operations,0,0,0,0,0,0,0,0,0,0,0
71,Diluted EPS,0,0,0,0,0,0,0,0,0,0,0
72,Diluted EPS from Continuing Operations,0,0,0,0,0,0,0,0,0,0,0
73,Basic Weighted Average Shares Outstanding,0,0,0,0,0,0,0,0,0,0,0
74,Diluted Weighted Average Shares Outstanding,0,0,0,0,0,0,0,0,0,0,0
75,Basic EPS,0,0,0,0,0,0,0,0,0,0,0
76,Diluted EPS,0,0,0,0,0,0,0,0,0,0,0
77,Basic WASO,0,0,0,0,0,0,0,0,0,0,0
78,Diluted WASO,0,0,0,0,0,0,0,0,0,0,0