In [141]:
import findspark

In [142]:
findspark.find()

'C:\\spark-3.3.2-bin-hadoop3'

In [143]:
findspark.init()

In [144]:
from pyspark.sql import SparkSession

In [145]:
import pyspark.sql.types as t
import pyspark.sql.functions as f

In [146]:
spark = SparkSession.builder.appName('learn-pyspark').master("local").getOrCreate()

In [147]:
data = [(1 , 'suraj') , (2,'test')]
schema = ['id' , 'name']
df = spark.createDataFrame(data=data,schema=schema)

In [148]:
df.show()

+---+-----+
| id| name|
+---+-----+
|  1|suraj|
|  2| test|
+---+-----+

In [149]:
data1 = [{'id' : 1,'name' : 'suraj'},{'id' : 2,'name' : 'suraj singh'},]
schema1 = ['id' , 'name']
df1 = spark.createDataFrame(data=data1,schema=schema1)

In [150]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [151]:
df1.show()

+---+-----------+
| id|       name|
+---+-----------+
|  1|      suraj|
|  2|suraj singh|
+---+-----------+

In [152]:
data2 = [[1,'suraj'],[ 2,'suraj singh']]
schema2 = ['id' , 'name']
df2 = spark.createDataFrame(data=data2,schema=schema2)

In [153]:
df2.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [154]:
df2.show()

+---+-----------+
| id|       name|
+---+-----------+
|  1|      suraj|
|  2|suraj singh|
+---+-----------+

In [155]:
data3 = [{'id' : 1,'name' : 'suraj'},{'id' : 2,'name' : 'suraj singh'},]
schema3 = StructType([
    StructField(name="id", dataType=IntegerType()),
    StructField(name="name", dataType=StringType()),
])
df3 = spark.createDataFrame(data=data3,schema=schema3)

In [156]:
df3.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [157]:
df3.show()

+---+-----------+
| id|       name|
+---+-----------+
|  1|      suraj|
|  2|suraj singh|
+---+-----------+

In [158]:
help(spark.read)

Help on DataFrameReader in module pyspark.sql.readwriter object:

class DataFrameReader(OptionUtils)
 |  DataFrameReader(spark: 'SparkSession')
 |
 |  Interface used to load a :class:`DataFrame` from external storage systems
 |  (e.g. file systems, key-value stores, etc). Use :attr:`SparkSession.read`
 |  to access this.
 |
 |  .. versionadded:: 1.4
 |
 |  Method resolution order:
 |      DataFrameReader
 |      OptionUtils
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, spark: 'SparkSession')
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  csv(self, path: Union[str, List[str]], schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, sep: Optional[str] = None, encoding: Optional[str] = None, quote: Optional[str] = None, escape: Optional[str] = None, comment: Optional[str] = None, header: Union[bool, str, NoneType] = None, inferSchema: Union[bool, str, NoneType] = None, ignoreLeadingWhiteSpace: Union[bool, str, NoneType] = None, ignoreTrailingWhiteSpace: Union[bool, str, NoneType] = None, nullValue: Optional[str] = None, nanValue: Optional[str] = None, positiveInf: Optional[str] = None, negativeInf: Optional[str] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, maxColumns: Union[str, int, NoneType] = None, maxCharsPerColumn: Union[str, int, NoneType] = None, maxMalformedLogPerPartition: Union[str, int, NoneType] = None, mode: Optional[str] = None, columnNameOfCorruptRecord: Optional[str] = None, multiLine: Union[bool, str, NoneType] = None, charToEscapeQuoteEscaping: Optional[str] = None, samplingRatio: Union[str, float, NoneType] = None, enforceSchema: Union[bool, str, NoneType] = None, emptyValue: Optional[str] = None, locale: Optional[str] = None, lineSep: Optional[str] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None, unescapedQuoteHandling: Optional[str] = None) -> 'DataFrame'
 |      Loads a CSV file and returns the result as a  :class:`DataFrame`.
 |
 |      This function will go through the input once to determine the input schema if
 |      ``inferSchema`` is enabled. To avoid going through the entire data once, disable
 |      ``inferSchema`` option or specify the schema explicitly using ``schema``.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      path : str or list
 |          string, or list of strings, for input path(s),
 |          or RDD of Strings storing CSV rows.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          an optional :class:`pyspark.sql.types.StructType` for the input schema
 |          or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.csv('python/test_support/sql/ages.csv')
 |      >>> df.dtypes
 |      [('_c0', 'string'), ('_c1', 'string')]
 |      >>> rdd = sc.textFile('python/test_support/sql/ages.csv')
 |      >>> df2 = spark.read.csv(rdd)
 |      >>> df2.dtypes
 |      [('_c0', 'string'), ('_c1', 'string')]
 |
 |  format(self, source: str) -> 'DataFrameReader'
 |      Specifies the input data source format.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      source : str
 |          string, name of the data source, e.g. 'json', 'parquet'.
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.format('json').load('python/test_support/sql/people.json')
 |      >>> df.dtypes
 |      [('age', 'bigint'), ('name', 'string')]
 |
 |  jdbc(self, url: str, table: str, column: Optional[str] = None, lowerBound: Union[str, int, NoneType] = None, upperBound: Union[str, int, NoneType] = None, numPartitions: Optional[int] = None, predicates: Optional[List[str]] = None, properties: Optional[Dict[str, str]] = None) -> 'DataFrame'
 |      Construct a :class:`DataFrame` representing the database table named ``table``
 |      accessible via JDBC URL ``url`` and connection ``properties``.
 |
 |      Partitions of the table will be retrieved in parallel if either ``column`` or
 |      ``predicates`` is specified. ``lowerBound``, ``upperBound`` and ``numPartitions``
 |      is needed when ``column`` is specified.
 |
 |      If both ``column`` and ``predicates`` are specified, ``column`` will be used.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      table : str
 |          the name of the table
 |      column : str, optional
 |          alias of ``partitionColumn`` option. Refer to ``partitionColumn`` in
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html#data-source-option>`_
 |          in the version you use.
 |      predicates : list, optional
 |          a list of expressions suitable for inclusion in WHERE clauses;
 |          each one defines one partition of the :class:`DataFrame`
 |      properties : dict, optional
 |          a dictionary of JDBC database connection arguments. Normally at
 |          least properties "user" and "password" with their corresponding values.
 |          For example { 'user' : 'SYSTEM', 'password' : 'mypassword' }
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Notes
 |      -----
 |      Don't create too many partitions in parallel on a large cluster;
 |      otherwise Spark might crash your external database systems.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |  json(self, path: Union[str, List[str], pyspark.rdd.RDD[str]], schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, primitivesAsString: Union[bool, str, NoneType] = None, prefersDecimal: Union[bool, str, NoneType] = None, allowComments: Union[bool, str, NoneType] = None, allowUnquotedFieldNames: Union[bool, str, NoneType] = None, allowSingleQuotes: Union[bool, str, NoneType] = None, allowNumericLeadingZero: Union[bool, str, NoneType] = None, allowBackslashEscapingAnyCharacter: Union[bool, str, NoneType] = None, mode: Optional[str] = None, columnNameOfCorruptRecord: Optional[str] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, multiLine: Union[bool, str, NoneType] = None, allowUnquotedControlChars: Union[bool, str, NoneType] = None, lineSep: Optional[str] = None, samplingRatio: Union[str, float, NoneType] = None, dropFieldIfAllNull: Union[bool, str, NoneType] = None, encoding: Optional[str] = None, locale: Optional[str] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None, allowNonNumericNumbers: Union[bool, str, NoneType] = None) -> 'DataFrame'
 |      Loads JSON files and returns the results as a :class:`DataFrame`.
 |
 |      `JSON Lines <http://jsonlines.org/>`_ (newline-delimited JSON) is supported by default.
 |      For JSON (one record per file), set the ``multiLine`` parameter to ``true``.
 |
 |      If the ``schema`` parameter is not specified, this function goes
 |      through the input once to determine the input schema.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      path : str, list or :class:`RDD`
 |          string represents path to the JSON dataset, or a list of paths,
 |          or RDD of Strings storing JSON objects.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          an optional :class:`pyspark.sql.types.StructType` for the input schema or
 |          a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-json.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df1 = spark.read.json('python/test_support/sql/people.json')
 |      >>> df1.dtypes
 |      [('age', 'bigint'), ('name', 'string')]
 |      >>> rdd = sc.textFile('python/test_support/sql/people.json')
 |      >>> df2 = spark.read.json(rdd)
 |      >>> df2.dtypes
 |      [('age', 'bigint'), ('name', 'string')]
 |
 |  load(self, path: Union[str, List[str], NoneType] = None, format: Optional[str] = None, schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, **options: 'OptionalPrimitiveType') -> 'DataFrame'
 |      Loads data from a data source and returns it as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      path : str or list, optional
 |          optional string or a list of string for file-system backed data sources.
 |      format : str, optional
 |          optional string for format of the data source. Default to 'parquet'.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          optional :class:`pyspark.sql.types.StructType` for the input schema
 |          or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |      **options : dict
 |          all other string options
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.format("parquet").load('python/test_support/sql/parquet_partitioned',
 |      ...     opt1=True, opt2=1, opt3='str')
 |      >>> df.dtypes
 |      [('name', 'string'), ('year', 'int'), ('month', 'int'), ('day', 'int')]
 |
 |      >>> df = spark.read.format('json').load(['python/test_support/sql/people.json',
 |      ...     'python/test_support/sql/people1.json'])
 |      >>> df.dtypes
 |      [('age', 'bigint'), ('aka', 'string'), ('name', 'string')]
 |
 |  option(self, key: str, value: 'OptionalPrimitiveType') -> 'DataFrameReader'
 |      Adds an input option for the underlying data source.
 |
 |      .. versionadded:: 1.5
 |
 |  options(self, **options: 'OptionalPrimitiveType') -> 'DataFrameReader'
 |      Adds input options for the underlying data source.
 |
 |      .. versionadded:: 1.4
 |
 |  orc(self, path: Union[str, List[str]], mergeSchema: Optional[bool] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None) -> 'DataFrame'
 |      Loads ORC files, returning the result as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.5.0
 |
 |      Parameters
 |      ----------
 |      path : str or list
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-orc.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.orc('python/test_support/sql/orc_partitioned')
 |      >>> df.dtypes
 |      [('a', 'bigint'), ('b', 'int'), ('c', 'int')]
 |
 |  parquet(self, *paths: str, **options: 'OptionalPrimitiveType') -> 'DataFrame'
 |      Loads Parquet files, returning the result as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      paths : str
 |
 |      Other Parameters
 |      ----------------
 |      **options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.parquet('python/test_support/sql/parquet_partitioned')
 |      >>> df.dtypes
 |      [('name', 'string'), ('year', 'int'), ('month', 'int'), ('day', 'int')]
 |
 |  schema(self, schema: Union[pyspark.sql.types.StructType, str]) -> 'DataFrameReader'
 |      Specifies the input schema.
 |
 |      Some data sources (e.g. JSON) can infer the input schema automatically from data.
 |      By specifying the schema here, the underlying data source can skip the schema
 |      inference step, and thus speed up data loading.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      schema : :class:`pyspark.sql.types.StructType` or str
 |          a :class:`pyspark.sql.types.StructType` object or a DDL-formatted string
 |          (For example ``col0 INT, col1 DOUBLE``).
 |
 |      >>> s = spark.read.schema("col0 INT, col1 DOUBLE")
 |
 |  table(self, tableName: str) -> 'DataFrame'
 |      Returns the specified table as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      tableName : str
 |          string, name of the table.
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.parquet('python/test_support/sql/parquet_partitioned')
 |      >>> df.createOrReplaceTempView('tmpTable')
 |      >>> spark.read.table('tmpTable').dtypes
 |      [('name', 'string'), ('year', 'int'), ('month', 'int'), ('day', 'int')]
 |
 |  text(self, paths: Union[str, List[str]], wholetext: bool = False, lineSep: Optional[str] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None) -> 'DataFrame'
 |      Loads text files and returns a :class:`DataFrame` whose schema starts with a
 |      string column named "value", and followed by partitioned columns if there
 |      are any.
 |      The text files must be encoded as UTF-8.
 |
 |      By default, each line in the text file is a new row in the resulting DataFrame.
 |
 |      .. versionadded:: 1.6.0
 |
 |      Parameters
 |      ----------
 |      paths : str or list
 |          string, or list of strings, for input path(s).
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-text.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.text('python/test_support/sql/text-test.txt')
 |      >>> df.collect()
 |      [Row(value='hello'), Row(value='this')]
 |      >>> df = spark.read.text('python/test_support/sql/text-test.txt', wholetext=True)
 |      >>> df.collect()
 |      [Row(value='hello\nthis')]
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from OptionUtils:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [160]:
tcs = spark.read.csv('data/tcs-income.csv',header=True,inferSchema=True)

In [161]:
tcs.dtypes

[('TCS_income-statement_Annual_As_Originally_Reported', 'string'),
 ('2013', 'double'),
 ('2014', 'double'),
 ('2015', 'double'),
 ('2016', 'double'),
 ('2017', 'double'),
 ('2018', 'double'),
 ('2019', 'double'),
 ('2020', 'double'),
 ('2021', 'double'),
 ('2022', 'double'),
 ('TTM', 'double')]

In [162]:
tcs.show()

+--------------------------------------------------+------------+------------+------------+------------+----------+----------+----------+----------+----------+-----------+-----------+
|TCS_income-statement_Annual_As_Originally_Reported|        2013|        2014|        2015|        2016|      2017|      2018|      2019|      2020|      2021|       2022|        TTM|
+--------------------------------------------------+------------+------------+------------+------------+----------+----------+----------+----------+----------+-----------+-----------+
|                                      Gross Profit| 3.629702E11| 4.886067E11| 5.211143E11| 6.226331E11| 5.3537E11| 5.4008E11| 6.5947E11| 6.9092E11| 7.7302E11|  9.1487E11| 1.01628E12|
|                                     Total Revenue| 6.298948E11| 8.180936E11| 9.464841E11|1.0864621E12|1.17966E12|1.23104E12|1.46463E12|1.56949E12|1.64177E12| 1.91754E12| 2.16887E12|
|                                      Business ...|  6.29903E11| 8.180936E11| 9.464841E11|1.0864621E12|1.17966E12|1.23104E12|1.46463E12|1.56949E12|1.64177E12| 1.91754E12| 2.16887E12|
|                                      Excise Taxes|  -8200000.0|        null|        null|        null|      null|      null|      null|      null|      null|       null|       null|
|                                   Cost of Revenue|-2.669246E11|-3.294869E11|-4.253698E11| -4.63829E11|-6.4429E11|-6.9096E11|-8.0516E11|-8.7857E11|-8.6875E11|-1.00267E12|-1.15259E12|
|                                      Cost of G...|  -2.6525E10| -3.08868E10| -3.83583E10| -4.61382E10| -2.808E10|   -2.7E10|  -2.27E10| -1.905E10| -1.462E10|  -1.163E10|  -1.521E10|
|                                      Staff Cos...|-2.403996E11|-2.986001E11|-3.870115E11|-4.176908E11|-6.1621E11|-6.6396E11|-7.8246E11|-8.5952E11|-8.5413E11| -9.9104E11|-1.13738E12|
|                              Operating Income/...|-1.928942E11|-2.506061E11| -2.94143E11|-3.360862E11|-2.3088E11|  -2.33E11|-2.8497E11|-3.0512E11| -3.462E11| -4.2899E11| -4.9234E11|
|                                  Selling, Gene...|-1.199059E11|-1.559034E11|-1.768871E11|-1.939459E11| -9.921E10|-1.0054E11|-1.2651E11|-1.4529E11|-2.1511E11| -2.7909E11|       null|
|                                       Staff Costs|  -7.8819E10|-1.062629E11| -1.22232E11|-1.367865E11|      null|      null|      null|      null| -6.401E10|   -8.45E10|       null|
|                                          Pensi...|  -7.8819E10|-1.062629E11| -1.22232E11|-1.367865E11|      null|      null|      null|      null| -6.401E10|   -8.45E10|       null|
|                                      Legal, Ac...|   -4.6053E9|   -6.1361E9|    -5.963E9|   -6.3983E9| -8.854E10| -8.992E10| -1.133E11|-1.2937E11|-1.3214E11| -1.7409E11|       null|
|                                          Other...|        null|        null|        null|        null| -8.854E10| -8.992E10| -1.133E11|-1.2937E11|      null|       null|       null|
|                                      Telecommu...|   -7.6691E9|   -8.7404E9| -1.05606E10| -1.10731E10| -1.067E10| -1.062E10| -1.321E10| -1.592E10| -1.896E10|   -2.05E10|       null|
|                                      General a...|   -7.9911E9|   -9.2389E9| -1.03257E10| -1.03836E10|      null|      null|      null|      null|      null|       null|       null|
|                                      Insurance...|    -4.455E8|    -6.113E8|    -7.041E8|    -7.525E8|      null|      null|      null|      null|      null|       null|       null|
|                                      Rent Expense| -1.16517E10| -1.42127E10| -1.56946E10| -1.69385E10|      null|      null|      null|      null|      null|       null|       null|
|                                      Selling a...|   -8.7242E9| -1.07011E10| -1.14071E10| -1.16134E10|      null|      null|      null|      null|      null|       null|       null|
|                                  Depreciation,...| -1.07992E10| -1.34915E10| -1.79869E10| -1.94796E10| -1.987E10| -2.014E10| -2.056E10| -3.529E10| -4.065E10|  -4.604E10|  -4.953E10|
|                                      Depreciat...| -1.07992E10| -1.34915E10| -1.79869E10| -1.94796E10| -1.987E10| -2.014E10| -2.056E10| -3.529E10| -4.065E10|  -4.604E10|  -4.953E10|
+--------------------------------------------------+------------+------------+------------+------------+----------+----------+----------+----------+----------+-----------+-----------+
only showing top 20 rows

In [163]:
tcs_l = spark.read.format('csv').option(key="header" , value=True)\
                                                                    .option(key="inferSchema" , value=True)\
                                                                    .load('data/tcs-income.csv')

In [164]:
tcs_l.show()

+--------------------------------------------------+------------+------------+------------+------------+----------+----------+----------+----------+----------+-----------+-----------+
|TCS_income-statement_Annual_As_Originally_Reported|        2013|        2014|        2015|        2016|      2017|      2018|      2019|      2020|      2021|       2022|        TTM|
+--------------------------------------------------+------------+------------+------------+------------+----------+----------+----------+----------+----------+-----------+-----------+
|                                      Gross Profit| 3.629702E11| 4.886067E11| 5.211143E11| 6.226331E11| 5.3537E11| 5.4008E11| 6.5947E11| 6.9092E11| 7.7302E11|  9.1487E11| 1.01628E12|
|                                     Total Revenue| 6.298948E11| 8.180936E11| 9.464841E11|1.0864621E12|1.17966E12|1.23104E12|1.46463E12|1.56949E12|1.64177E12| 1.91754E12| 2.16887E12|
|                                      Business ...|  6.29903E11| 8.180936E11| 9.464841E11|1.0864621E12|1.17966E12|1.23104E12|1.46463E12|1.56949E12|1.64177E12| 1.91754E12| 2.16887E12|
|                                      Excise Taxes|  -8200000.0|        null|        null|        null|      null|      null|      null|      null|      null|       null|       null|
|                                   Cost of Revenue|-2.669246E11|-3.294869E11|-4.253698E11| -4.63829E11|-6.4429E11|-6.9096E11|-8.0516E11|-8.7857E11|-8.6875E11|-1.00267E12|-1.15259E12|
|                                      Cost of G...|  -2.6525E10| -3.08868E10| -3.83583E10| -4.61382E10| -2.808E10|   -2.7E10|  -2.27E10| -1.905E10| -1.462E10|  -1.163E10|  -1.521E10|
|                                      Staff Cos...|-2.403996E11|-2.986001E11|-3.870115E11|-4.176908E11|-6.1621E11|-6.6396E11|-7.8246E11|-8.5952E11|-8.5413E11| -9.9104E11|-1.13738E12|
|                              Operating Income/...|-1.928942E11|-2.506061E11| -2.94143E11|-3.360862E11|-2.3088E11|  -2.33E11|-2.8497E11|-3.0512E11| -3.462E11| -4.2899E11| -4.9234E11|
|                                  Selling, Gene...|-1.199059E11|-1.559034E11|-1.768871E11|-1.939459E11| -9.921E10|-1.0054E11|-1.2651E11|-1.4529E11|-2.1511E11| -2.7909E11|       null|
|                                       Staff Costs|  -7.8819E10|-1.062629E11| -1.22232E11|-1.367865E11|      null|      null|      null|      null| -6.401E10|   -8.45E10|       null|
|                                          Pensi...|  -7.8819E10|-1.062629E11| -1.22232E11|-1.367865E11|      null|      null|      null|      null| -6.401E10|   -8.45E10|       null|
|                                      Legal, Ac...|   -4.6053E9|   -6.1361E9|    -5.963E9|   -6.3983E9| -8.854E10| -8.992E10| -1.133E11|-1.2937E11|-1.3214E11| -1.7409E11|       null|
|                                          Other...|        null|        null|        null|        null| -8.854E10| -8.992E10| -1.133E11|-1.2937E11|      null|       null|       null|
|                                      Telecommu...|   -7.6691E9|   -8.7404E9| -1.05606E10| -1.10731E10| -1.067E10| -1.062E10| -1.321E10| -1.592E10| -1.896E10|   -2.05E10|       null|
|                                      General a...|   -7.9911E9|   -9.2389E9| -1.03257E10| -1.03836E10|      null|      null|      null|      null|      null|       null|       null|
|                                      Insurance...|    -4.455E8|    -6.113E8|    -7.041E8|    -7.525E8|      null|      null|      null|      null|      null|       null|       null|
|                                      Rent Expense| -1.16517E10| -1.42127E10| -1.56946E10| -1.69385E10|      null|      null|      null|      null|      null|       null|       null|
|                                      Selling a...|   -8.7242E9| -1.07011E10| -1.14071E10| -1.16134E10|      null|      null|      null|      null|      null|       null|       null|
|                                  Depreciation,...| -1.07992E10| -1.34915E10| -1.79869E10| -1.94796E10| -1.987E10| -2.014E10| -2.056E10| -3.529E10| -4.065E10|  -4.604E10|  -4.953E10|
|                                      Depreciat...| -1.07992E10| -1.34915E10| -1.79869E10| -1.94796E10| -1.987E10| -2.014E10| -2.056E10| -3.529E10| -4.065E10|  -4.604E10|  -4.953E10|
+--------------------------------------------------+------------+------------+------------+------------+----------+----------+----------+----------+----------+-----------+-----------+
only showing top 20 rows

In [165]:
students_data = [(1,'suraj singh' , 2303) , (2, 'saheel singh', 2303) , (3,'rohan singh', 2303),(1,'suraj singh', 2303) , (2, 'saheel singh', 2303) , (3,'rohan singh', 2303)]
students_schema = StructType([StructField(name="id" , dataType=IntegerType()) , StructField(name="name",dataType=StringType()),StructField(name="salary",dataType=LongType())])
students_df = spark.createDataFrame(data=students_data,schema=students_schema)

In [166]:
students_df.show()

+---+------------+------+
| id|        name|salary|
+---+------------+------+
|  1| suraj singh|  2303|
|  2|saheel singh|  2303|
|  3| rohan singh|  2303|
|  1| suraj singh|  2303|
|  2|saheel singh|  2303|
|  3| rohan singh|  2303|
+---+------------+------+

In [167]:
students_df.show(truncate=6)

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|sur...|  2303|
|  2|sah...|  2303|
|  3|roh...|  2303|
|  1|sur...|  2303|
|  2|sah...|  2303|
|  3|roh...|  2303|
+---+------+------+

In [168]:
students_df.show(vertical=True)

-RECORD 0--------------
 id     | 1
 name   | suraj singh
 salary | 2303
-RECORD 1--------------
 id     | 2
 name   | saheel singh
 salary | 2303
-RECORD 2--------------
 id     | 3
 name   | rohan singh
 salary | 2303
-RECORD 3--------------
 id     | 1
 name   | suraj singh
 salary | 2303
-RECORD 4--------------
 id     | 2
 name   | saheel singh
 salary | 2303
-RECORD 5--------------
 id     | 3
 name   | rohan singh
 salary | 2303

In [169]:
students_df.show(2)

+---+------------+------+
| id|        name|salary|
+---+------------+------+
|  1| suraj singh|  2303|
|  2|saheel singh|  2303|
+---+------------+------+
only showing top 2 rows

In [183]:
def email(col) :
    splt = f.split(students_df.name,' ')
    join = f.array_join(splt,'.')
    return f.lit(join)
students_df.withColumn('email',email(students_df.name)).show()

+---+------------+------+------------+
| id|        name|salary|       email|
+---+------------+------+------------+
|  1| suraj singh|  2303| suraj.singh|
|  2|saheel singh|  2303|saheel.singh|
|  3| rohan singh|  2303| rohan.singh|
|  1| suraj singh|  2303| suraj.singh|
|  2|saheel singh|  2303|saheel.singh|
|  3| rohan singh|  2303| rohan.singh|
+---+------------+------+------------+