In [154]:
import pandas as pd
import re
pd.set_option('display.max_rows' , 200)

In [155]:
company_name = 'tvs'.upper()

In [156]:
share_price_in = 1000000;

In [157]:
def calculate_growth(initial , final) :
    if not initial :
        return 1
    return round(((final - initial) / initial) * 100,2)

In [158]:
def get_share_price_in(price) :
    return round((price / share_price_in),2)

In [159]:
def vertical_analysis(item , divider) :
    return (item/divider)

In [160]:
def round_off_to(num , limit) :
    return round(num,limit)

In [161]:
def count_leading_space(s): 
    match = re.search(r"^\s*", s) 
    return 0 if not match else match.end()

In [162]:
def getColumnFormatterbyPercentage(type) :
    columns_perc_formats = {}
    if type == 'income_statement' :
        for column in income_statement.columns[1:] :
            columns_perc_formats[column] = '{:,.2%}'
    elif type == 'balance_sheet' :
        for column in balance_sheet.columns[1:] :
            columns_perc_formats[column] = '{:,.2%}'
    elif type == 'cashflow_statement' :
        for column in cashflow_statement.columns[1:] :
            columns_perc_formats[column] = '{:,.2%}'
    return columns_perc_formats

In [163]:
styles = [dict(selector="caption",
                       props=[("text-align", "center"),
                              ("font-size", "150%"),
                              ("color", 'white'),
                              ("background", '#308D46'),
                              ("font-weight", '600'),
                              ("text-transform", 'uppercase')
                             ])]
def styles(color = 'white',backcolor = '#308D46'):
    return [dict(selector="caption",
                       props=[("text-align", "center"),
                              ("font-size", "150%"),
                              ("color", color),
                              ("background", backcolor),
                              ("font-weight", '600'),
                              ("text-transform", 'uppercase')
                             ])]

In [164]:
income_statement = pd.read_excel('data/'+company_name+'/'+company_name+'-income.xls')
balance_sheet = pd.read_excel('data/'+company_name+'/'+company_name+'-balance.xls')
cashflow_statement = pd.read_excel('data/'+company_name+'/'+company_name+'-cashflow.xls')

In [165]:
start_col = income_statement.columns[1];
start_col_balance_sheet = balance_sheet.columns[1];
start_col_cashflow = cashflow_statement.columns[1];

In [166]:
income_statement.rename(columns={company_name+'_income-statement_Annual_As_Originally_Reported' : 'items'} , inplace=True)
balance_sheet.rename(columns={company_name+'_balance-sheet_Annual_As_Originally_Reported' : 'items'} , inplace=True)
cashflow_statement.rename(columns={company_name+'_cash-flow_Annual_As_Originally_Reported' : 'items'} , inplace=True)

income_statement_temp_columns = income_statement.columns.values
income_statement_temp_columns[0] = 'items'
income_statement.columns = income_statement_temp_columns

balance_sheet_temp_columns = balance_sheet.columns.values
balance_sheet_temp_columns[0] = 'items'
balance_sheet.columns = balance_sheet_temp_columns

cashflow_statement_temp_columns = cashflow_statement.columns.values
cashflow_statement_temp_columns[0] = 'items'
cashflow_statement.columns = cashflow_statement_temp_columns
# income_statement.columns.values[0] = 'items'
# balance_sheet.columns.values[0] = 'items'
# cashflow_statement.values.columns[0] = 'items'

In [167]:
basic_eps_filter = income_statement['items'].eq('Basic EPS')
basic_eps_pos = income_statement[basic_eps_filter].index[0]

In [168]:
WASO_filter = income_statement['items'].eq('Basic Weighted Average Shares Outstanding') | income_statement['items'].eq('Diluted Weighted Average Shares Outstanding') | income_statement['items'].eq('Basic WASO') | income_statement['items'].eq('Diluted WASO')
waso_pos = income_statement[WASO_filter].index

In [169]:
income_statement.dropna(how='all',subset=income_statement.columns[1:], inplace=True)
balance_sheet.dropna(how='all',subset=balance_sheet.columns[1:], inplace=True)
cashflow_statement.dropna(how='all',subset=cashflow_statement.columns[1:], inplace=True)
income_statement.fillna(0 , inplace=True)
balance_sheet.fillna(0 , inplace=True)
cashflow_statement.fillna(0 , inplace=True)

In [170]:
temp_df = income_statement.loc[0:basic_eps_pos,start_col:].copy()
temp_df = pd.DataFrame(temp_df)

In [171]:
temp_df = temp_df.apply(get_share_price_in)

In [172]:
income_statement.loc[0:basic_eps_pos,start_col:] = temp_df

In [173]:
income_statement.loc[waso_pos,start_col:] = income_statement.loc[waso_pos,start_col:].apply(get_share_price_in)

In [174]:
temp_revenue = income_statement.loc[1]
income_statement.loc[1] = income_statement.loc[0]
income_statement.loc[0] = temp_revenue

In [175]:
is_highlighted_indexes = pd.DataFrame(income_statement.loc[0:basic_eps_pos - 1,'items'])
is_highlighted_indexes = is_highlighted_indexes['items'].apply(count_leading_space).eq(0) | is_highlighted_indexes['items'].apply(count_leading_space).eq(4)
is_highlighted_indexes = is_highlighted_indexes.loc[is_highlighted_indexes].index

In [176]:
#income_statement['items'] = income_statement['items'].apply(lambda x: x.strip())

In [177]:
balance_sheet.loc[0:,start_col_balance_sheet:] =  balance_sheet.loc[0:,start_col_balance_sheet:].applymap(get_share_price_in)

In [178]:
cashflow_statement.loc[0:,start_col_cashflow:] =  cashflow_statement.loc[0:,start_col_cashflow:].applymap(get_share_price_in)

In [179]:
vertical_analysis_is = pd.DataFrame(columns=income_statement.columns) 
vertical_analysis_is['items'] = income_statement.loc[0:basic_eps_pos - 1,'items'].copy()

In [180]:
total_revenue_filter = income_statement['items'].apply(lambda x: x.strip()).eq('Total Revenue')
total_revenue = income_statement.loc[total_revenue_filter,start_col:]

In [181]:
for column in vertical_analysis_is.columns[1:] : 
    vertical_analysis_is[column] = income_statement.loc[0:basic_eps_pos - 1,column].apply(vertical_analysis,divider=total_revenue[column])
vertical_analysis_is.loc[0,'items'] = vertical_analysis_is.loc[0,'items'].strip()

In [182]:
def row_style(row , list , key):
   if row[key] in list :
       return pd.Series('background-color: #ffee65', row.index)
   else :
        return pd.Series('', row.index)

In [183]:
fil = vertical_analysis_is.loc[0:basic_eps_pos - 1,'items'].apply(count_leading_space).eq(0)
templist = vertical_analysis_is.loc[fil,'items'].values
#templist = vertical_analysis_is.loc[is_highlighted_indexes,'items'].apply(count_leading_space).eq(0).index.values
vertical_analysis_is.loc[is_highlighted_indexes].style.apply(row_style,list=templist,key='items',axis=1).set_caption(company_name+ " income statement vertical analysis").set_table_styles(styles('white',"#5ad45a")).format(getColumnFormatterbyPercentage('income_statement'),precision=2)