In [552]:
import pandas as pd
import re
pd.set_option('display.max_rows' , 200)

In [553]:
company_name = 'tvs'.upper()

In [554]:
particulars = 'particulars'

In [555]:
share_price_in = 1000000;

In [556]:
def calculate_growth(current , previous) :
    if current == 0 and previous == 0 or current == 0 and previous != 0:
        return 0
    if current != 0 and previous == 0 :
        return current / 100
    return ((current/previous) - 1)

In [557]:
def calculate_growth_series(curr_df,prev_df):
    temp_df = curr_df.copy()
    for index in curr_df.index :
        temp_df.loc[index] = calculate_growth(curr_df.loc[index],prev_df[index])
    return temp_df

In [558]:
def get_share_price_in(price) :
    return round((price / share_price_in),2)

In [559]:
def vertical_analysis(item , divider) :
    return item/divider

In [560]:
def round_off_to(num , limit) :
    return round(num,limit)

In [561]:
def count_leading_space(s): 
    match = re.search(r"^\s*", s) 
    return 0 if not match else match.end()

In [562]:
def getColumnFormatterbyPercentage(type) :
    columns_perc_formats = {}
    if type == 'income_statement' :
        for column in income_statement.columns[1:] :
            columns_perc_formats[column] = '{:,.2%}'
    elif type == 'balance_sheet' :
        for column in balance_sheet.columns[1:] :
            columns_perc_formats[column] = '{:,.2%}'
    elif type == 'cashflow_statement' :
        for column in cashflow_statement.columns[1:] :
            columns_perc_formats[column] = '{:,.2%}'
    return columns_perc_formats

In [563]:
def styles(color = 'white',backcolor = '#308D46'):
    return [dict(selector="caption",
                       props=[("text-align", "center"),
                              ("font-size", "150%"),
                              ("color", color),
                              ("background", backcolor),
                              ("font-weight", '600'),
                              ("text-transform", 'uppercase')
                             ])]

In [564]:
income_statement = pd.read_excel('data/'+company_name+'/'+company_name+'-income.xls')
balance_sheet = pd.read_excel('data/'+company_name+'/'+company_name+'-balance.xls')
cashflow_statement = pd.read_excel('data/'+company_name+'/'+company_name+'-cashflow.xls')

In [565]:
start_col = income_statement.columns[1];
start_col_balance_sheet = balance_sheet.columns[1];
start_col_cashflow = cashflow_statement.columns[1];

In [566]:
income_statement_temp_columns = income_statement.columns.values
income_statement_temp_columns[0] = particulars
income_statement.columns = income_statement_temp_columns

balance_sheet_temp_columns = balance_sheet.columns.values
balance_sheet_temp_columns[0] = particulars
balance_sheet.columns = balance_sheet_temp_columns

cashflow_statement_temp_columns = cashflow_statement.columns.values
cashflow_statement_temp_columns[0] = particulars
cashflow_statement.columns = cashflow_statement_temp_columns

In [567]:
basic_eps_filter = income_statement[particulars].eq('Basic EPS')
basic_eps_pos = income_statement[basic_eps_filter].index[0]

In [568]:
WASO_filter = income_statement[particulars].isin(['Basic Weighted Average Shares Outstanding','Diluted Weighted Average Shares Outstanding','Basic WASO','Diluted WASO'])
waso_pos = income_statement[WASO_filter].index

In [569]:
income_statement.dropna(how='all',subset=income_statement.columns[1:], inplace=True)
balance_sheet.dropna(how='all',subset=balance_sheet.columns[1:], inplace=True)
cashflow_statement.dropna(how='all',subset=cashflow_statement.columns[1:], inplace=True)
income_statement.fillna(0 , inplace=True)
balance_sheet.fillna(0 , inplace=True)
cashflow_statement.fillna(0 , inplace=True)

In [570]:
temp_df = income_statement.loc[0:basic_eps_pos,start_col:].copy()
temp_df = pd.DataFrame(temp_df)

In [571]:
temp_df = temp_df.apply(get_share_price_in)

In [572]:
income_statement.loc[0:basic_eps_pos,start_col:] = temp_df

In [573]:
income_statement.loc[waso_pos,start_col:] = income_statement.loc[waso_pos,start_col:].apply(get_share_price_in)

In [574]:
temp_revenue = income_statement.loc[1]
income_statement.loc[1] = income_statement.loc[0]
income_statement.loc[0] = temp_revenue

In [575]:
total_rev = income_statement[particulars].index == 0
income_statement.loc[total_rev,particulars] = income_statement.loc[total_rev,particulars].values[0].strip()

In [576]:
is_highlighted_indexes = pd.DataFrame(income_statement.loc[0:basic_eps_pos - 1,particulars])
is_highlighted_indexes = is_highlighted_indexes[particulars].apply(count_leading_space).isin([0,4])
is_highlighted_indexes = is_highlighted_indexes.loc[is_highlighted_indexes].index

In [577]:
balance_sheet.loc[0:,start_col_balance_sheet:] =  balance_sheet.loc[0:,start_col_balance_sheet:].applymap(get_share_price_in)

In [578]:
total_equity_filter = balance_sheet[particulars].apply(lambda x: x.strip()).eq('Total Equity')
total_equity_row = balance_sheet.loc[total_equity_filter,start_col_balance_sheet:].index.values[0]
total_assets_filter = balance_sheet[particulars].apply(lambda x: x.strip()).eq('Total Assets')
total_assets_row = balance_sheet.loc[total_assets_filter,start_col_balance_sheet:]
total_liabilities_filter = balance_sheet[particulars].apply(lambda x: x.strip()).eq('Total Liabilities')
total_liabilities_row = balance_sheet.loc[total_liabilities_filter,start_col_balance_sheet:].index.values[0]
balance_sheet.loc[total_liabilities_filter,start_col_balance_sheet:] = balance_sheet.loc[[total_equity_row,total_liabilities_row],start_col_balance_sheet:].sum().values

In [579]:
cashflow_statement.loc[0:,start_col_cashflow:] =  cashflow_statement.loc[0:,start_col_cashflow:].applymap(get_share_price_in)

In [580]:
vertical_analysis_is = pd.DataFrame(columns=income_statement.columns) 
vertical_analysis_is[particulars] = income_statement.loc[0:basic_eps_pos - 1,particulars].copy()

In [581]:
total_revenue_filter = income_statement[particulars].apply(lambda x: x.strip()).eq('Total Revenue')
total_revenue = income_statement.loc[total_revenue_filter,start_col:]

In [582]:
for column in vertical_analysis_is.columns[1:] : 
    vertical_analysis_is[column] = income_statement.loc[0:basic_eps_pos - 1,column].apply(vertical_analysis,divider=total_revenue[column])
vertical_analysis_is.loc[0,particulars] = vertical_analysis_is.loc[0,particulars].strip()

In [583]:
def row_style(row , list , key , color,bgcolor):
   if row[key] in list :
       return pd.Series('color:'+color+';background-color:'+bgcolor, row.index)
   else :
        return pd.Series('', row.index)

In [584]:
fil = vertical_analysis_is.loc[0:basic_eps_pos - 1,particulars].apply(count_leading_space).eq(0)
templist = vertical_analysis_is.loc[fil,particulars].values
vertical_analysis_is_style = vertical_analysis_is
vertical_analysis_is_style = vertical_analysis_is_style.loc[is_highlighted_indexes].style.apply(row_style,list=templist,color="black",bgcolor="#f1e05a",key=particulars,axis=1).set_caption(company_name+ " income statement vertical analysis").set_table_styles(styles('black',"rgba(66, 165, 245, 0.2)")).format(getColumnFormatterbyPercentage('income_statement'),precision=2) 
fil = None
templist = None

In [585]:
balance_sheet_va_results_till = balance_sheet[particulars].apply(lambda x: x.strip()).eq('Non-Controlling/Minority Interests in Equity')
balance_sheet_va_results_till = balance_sheet[balance_sheet_va_results_till].index.values[0]
bs_va_temp = balance_sheet.loc[:balance_sheet_va_results_till]
bs_va_temp = pd.DataFrame(bs_va_temp)
filt = bs_va_temp[particulars].apply(count_leading_space).isin([0,4,8])
balance_sheet_va = pd.DataFrame(bs_va_temp[filt])
bs_va_temp = None
balance_sheet_va_results_till = None
filt = None

In [586]:
for column in balance_sheet_va.columns[1:] :
    balance_sheet_va[column] = balance_sheet_va.loc[:,column].apply(vertical_analysis,divider=total_assets_row[column])

In [587]:
bs_fil = balance_sheet_va[particulars].apply(count_leading_space).isin([0,4])
bs_templist = balance_sheet_va.loc[bs_fil,particulars].values
balance_sheet_va_style = balance_sheet_va
balance_sheet_va_style = balance_sheet_va_style.style.apply(row_style,list=bs_templist,color="black",bgcolor="#f1e05a",key=particulars,axis=1).set_caption(company_name+ " balance sheet vertical analysis").set_table_styles(styles('black',"rgba(66, 165, 245, 0.2)")).format(getColumnFormatterbyPercentage('balance_sheet'),precision=2) 
bs_fil = None
bs_templist = None

In [588]:
vertical_analysis_is_style

In [589]:
balance_sheet_va_style

In [590]:
income_statement_ha = pd.DataFrame(columns= income_statement.columns)

In [591]:
income_statement_ha[particulars] = income_statement[particulars]

In [592]:
income_statement_ha.fillna(0 , inplace=True)

In [593]:
temp_ha_filt = income_statement[particulars].apply(count_leading_space).isin([0,4])
for index , column in enumerate(income_statement_ha.columns) :
    if index < 2 :
        pass;
    else:
        prevColumn = income_statement.columns[index-1]
        income_statement_ha.loc[temp_ha_filt,column] = calculate_growth_series(income_statement.loc[temp_ha_filt,column],income_statement.loc[temp_ha_filt,prevColumn])

In [594]:
income_statement_ha = income_statement_ha[temp_ha_filt]

In [595]:
#income_statement_ha.replace([float('inf'), float('-inf')], None, inplace=True)
#income_statement_ha.fillna(0 , inplace=True)

In [596]:
temp_ha_filt = income_statement[particulars].apply(count_leading_space).isin([0])
iha_templist = income_statement_ha.loc[temp_ha_filt,particulars].values
income_statement_ha_style = income_statement_ha
income_statement_ha_style = income_statement_ha.style.apply(row_style,list=iha_templist,color="black",bgcolor="#f1e05a",key=particulars,axis=1).set_caption(company_name+ " Income statement horizontal analysis").set_table_styles(styles('black',"rgba(66, 165, 245, 0.2)")).format(getColumnFormatterbyPercentage('income_statement'),precision=2)

In [597]:
income_statement_ha_style

In [598]:
income_statement

,particulars,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,TTM
0,Total Revenue,74062.20,83790.10,103116.80,115163.40,124626.20,156248.00,185259.30,168378.60,172712.80,213207.90,274932.70
1,Gross Profit,21103.60,24758.30,29387.80,33887.10,34644.90,42573.70,44961.00,44654.00,42957.30,50038.00,73134.90
2,Business Revenue,80095.30,91129.30,108951.10,124240.10,134462.80,157441.80,182586.10,164995.10,170309.00,213207.90,274932.70
3,Other Revenue,1049.70,0.00,1847.50,1411.90,1276.10,2421.20,2673.20,3383.50,2403.80,0.00,0.00
4,Excise Taxes,-7082.80,-7339.20,-7681.80,-10488.60,-11112.70,-3615.00,0.00,0.00,0.00,0.00,0.00
5,Cost of Revenue,-52958.60,-59031.80,-73729.00,-81276.30,-89981.30,-113674.30,-140298.30,-123724.60,-129755.50,-163169.90,-201797.80
6,Cost of Goods and Services,-52958.60,-59031.80,-73729.00,-81276.30,-89981.30,-113674.30,-140298.30,-123724.60,-129755.50,-163169.90,-201797.80
7,Operating Income/Expenses,-18341.80,-21378.40,-25143.40,-28365.40,-28724.70,-37338.10,-42093.30,-45616.20,-46296.60,-54368.70,-67487.10
8,"Selling, General and Administrative Expenses",-12405.50,-5410.20,-17225.90,-19614.20,-19530.80,-25091.80,-26930.20,-27542.60,-26554.30,-32399.20,-38067.80
9,Staff Costs,-4738.80,-5410.20,-6588.90,-7435.30,-8280.50,-11497.90,-14321.50,-15393.50,-16893.70,-21240.30,-26908.90
10,"Legal, Accounting, Auditing and Consul...",-10.20,0.00,-11.00,-12.40,-13.90,-19.30,-20.70,-28.60,-28.00,-29.70,0.00
11,Auditor Fees,-10.20,0.00,-11.00,-12.40,-13.90,-19.30,-20.70,-28.60,-28.00,-29.70,0.00
12,Insurance and Claims,-42.80,0.00,-43.60,-63.70,-107.40,-155.40,-181.40,-196.30,-264.10,-361.00,0.00
13,Selling and Marketing Expenses,-7356.50,0.00,-10364.50,-11841.00,-10823.40,-12977.40,-11789.10,-11924.20,-9368.50,-10768.20,0.00
14,Rent Expense,-257.20,0.00,-217.90,-261.80,-305.60,-441.80,-617.50,0.00,0.00,0.00,0.00
15,Operation and Maintenance Expenses,-731.10,0.00,-660.40,-754.90,-810.40,-807.00,-795.20,-983.70,-921.40,-1010.10,0.00
16,"Depreciation, Amortization and Depletion",-1756.00,-1489.60,-1785.90,-2162.90,-3168.20,-3736.00,-4417.10,-5560.00,-5648.20,-7428.60,-8340.30
17,Depreciation and Amortization,-1756.00,-1489.60,-1785.90,-2162.90,-3168.20,-3736.00,-4417.10,-5560.00,-5648.20,-7428.60,-8340.30
18,Depreciation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-4970.90,-4848.50,-6281.50,0.00
19,Amortization,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-589.10,-799.70,-1147.10,0.00
20,Provisions,0.00,0.00,0.00,0.00,0.00,-808.60,-1837.10,-2737.30,-4667.90,-5541.40,0.00
21,Provision for Doubtful Accounts,0.00,0.00,0.00,0.00,0.00,-808.60,-1837.10,-2737.30,-4667.90,-5541.40,0.00
22,"Other Income/Expense, Operating",-3449.20,-14478.60,-5471.20,-5833.40,-5215.30,-6894.70,-8113.70,-8792.60,-8504.80,-7989.40,-14527.50
23,"Income from Grants Received, Operating",0.00,0.00,0.00,0.00,315.60,96.70,1766.00,1899.40,1077.20,2805.60,0.00
24,"Other Income, Operating",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3073.70,0.00
25,"Other Expenses, Operating",-3449.20,-14478.60,-5471.20,-5833.40,-5530.90,-6991.40,-9879.70,-10692.00,-9582.00,-13868.70,-20406.80
26,Total Operating Profit/Loss,2761.80,3379.90,4244.40,5521.70,5920.20,5235.60,2867.70,-962.20,-3339.30,-4330.70,5647.80
27,"Non-Operating Income/Expense, Total",135.30,-309.00,197.20,-397.50,659.40,4072.50,7960.80,9616.40,11555.60,14998.60,12524.10
28,Total Net Finance Income/Expense,-835.50,-594.40,-429.40,-319.50,-102.60,3858.50,8046.80,10174.40,11727.70,15142.70,12223.40
29,Net Interest Income/Expense,-763.00,-594.40,-270.10,-290.90,-101.60,3969.40,8256.40,11825.70,13563.50,15719.40,12800.10
30,Interest Expense Net of Capitalize...,-931.30,-800.90,-461.80,-646.50,-585.90,-3210.50,-6361.80,-6655.80,-7183.50,-8828.10,-11747.40
31,Interest Income,168.30,206.50,191.70,355.60,484.30,7179.90,14618.20,18481.50,20747.00,24547.50,0.00
32,Other Finance Income/Expenses,-72.50,0.00,-159.30,-28.60,-1.00,-110.90,-209.60,-1651.30,-1835.80,-576.70,0.00
33,Other Finance Expenses,-72.50,0.00,-159.30,-28.60,-1.00,-110.90,-209.60,-1651.30,-1835.80,-576.70,0.00
34,Net Investment Income,-148.90,29.70,5.80,-71.70,758.50,123.50,-255.10,-393.70,-199.90,50.40,-383.10
35,Dividend and Investment Income,13.80,2.90,3.60,4.90,7.00,6.00,9.40,12.60,2.00,38.10,0.00
36,Gain/Loss on Investments and Other Fin...,0.70,26.80,2.20,0.00,0.50,-290.30,10.10,0.30,0.40,2.30,0.00
37,"Income from Associates, JointVentures ...",0.00,0.00,0.00,0.00,2.00,5.70,17.00,-85.90,-77.50,24.90,-408.60
38,Share of Profit and Interest from ...,0.00,0.00,0.00,0.00,2.00,5.70,17.00,-85.90,-77.50,24.90,-408.60
39,Gain/Loss on Foreign Currency Exchange,-163.40,0.00,0.00,-76.60,-69.50,-375.40,-291.60,-320.70,-124.80,-14.90,0.00
40,Fair Value or Unrealized Gain/Loss on ...,0.00,0.00,0.00,0.00,818.50,587.10,0.00,0.00,0.00,0.00,0.00
41,Gain/Loss on Derivatives,0.00,0.00,0.00,0.00,0.00,190.40,0.00,0.00,0.00,0.00,0.00
42,Unrealized Gain/Loss on Derivatives,0.00,0.00,0.00,0.00,0.00,190.40,0.00,0.00,0.00,0.00,0.00
43,Irregular Income/Expense,1065.00,225.30,581.70,-31.20,-25.00,70.50,69.40,-264.80,-99.90,-376.50,-13.60
44,Fixed Asset Disposals,930.70,0.00,-1.00,-31.20,-25.00,26.30,-22.20,22.80,-19.60,24.70,24.70
45,Write Off/Write Down of Other Assets,0.00,0.00,0.00,0.00,0.00,44.20,91.60,115.70,13.30,0.00,0.00
46,Other Irregular Income/Expense,134.30,225.30,582.70,0.00,0.00,0.00,0.00,-403.30,-93.60,-401.20,-401.20
47,"Other Income/Expense, Non-Operating",54.70,30.40,39.10,24.90,28.50,20.00,99.70,100.50,127.70,182.00,697.40
48,Pretax Income,2897.10,3070.90,4441.60,5124.20,6579.60,9308.10,10828.50,8654.20,8216.30,10667.90,18171.90
49,Provision for Income Tax,-913.60,-1202.10,-1239.40,-1479.70,-1486.70,-2660.30,-3574.50,-2186.20,-2141.30,-3359.10,-5687.30
50,Current Tax,-646.20,-926.80,-1144.20,-1296.40,-1671.00,-2484.00,-3631.80,-2946.50,-2497.60,-3645.50,-6178.70
51,Deferred Tax,-267.40,-516.50,-269.10,-245.90,184.30,-176.30,57.30,760.30,356.30,286.40,491.40
52,Net Income before Extraordinary Items and Disc...,1983.50,1868.80,3202.20,3644.50,5092.90,6647.80,7254.00,6468.00,6075.00,7308.80,12484.60
53,Net Income after Extraordinary Items and Disco...,1983.50,1868.80,3202.20,3644.50,5092.90,6647.80,7254.00,6468.00,6075.00,7308.80,12484.60
54,Non-Controlling/Minority Interests,0.00,0.00,0.00,0.00,19.50,-124.30,-207.30,-221.80,-132.40,259.40,215.60
55,Net Income after Non-Controlling/Minority Inte...,1983.50,1868.80,3202.20,3644.50,5112.40,6523.50,7046.70,6246.20,5942.60,7568.20,12700.20
56,Net Income Available to Common Stockholders,1983.50,1868.80,3282.60,3693.30,5112.40,6523.50,7046.70,6246.20,5942.60,7568.20,12700.20
57,Diluted Net Income Available to Common Stockho...,1983.50,1868.80,3282.60,3693.30,5112.40,6523.50,7046.70,6246.20,5942.60,7568.20,12700.20
60,"Total Revenue as Reported, Supplemental",0.00,0.00,103353.40,115163.40,135738.90,166560.00,201599.90,188493.10,194208.20,243553.10,305277.90
61,Reported Normalized Income,1842.90,1833.60,3282.60,3693.30,0.00,0.00,0.00,0.00,0.00,0.00,0.00
62,Other Adjustments to Net Income Available to C...,0.00,0.00,80.40,48.80,0.00,0.00,0.00,0.00,0.00,0.00,0.00
63,Basic EPS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
64,Basic EPS from Continuing Operations,4.16,3.93,6.91,7.77,10.76,13.73,14.83,13.15,12.51,15.93,26.73
65,Diluted EPS,4.16,3.93,6.91,7.77,10.76,13.73,14.83,13.15,12.51,15.93,26.73
66,Diluted EPS from Continuing Operations,4.16,3.93,6.91,7.77,10.76,13.73,14.83,13.15,12.51,15.93,26.73
67,Basic Weighted Average Shares Outstanding,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.12
68,Diluted Weighted Average Shares Outstanding,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.12
69,Total Dividend Per Share,1.30,1.25,1.50,3.65,2.50,3.30,3.50,2.10,2.10,5.15,3.75
70,Regular Dividend Per Share Calc,1.30,1.25,1.50,3.65,2.50,3.30,3.50,2.10,2.10,5.15,3.75
71,Reported Normalized Basic EPS,3.88,3.86,6.91,7.77,0.00,0.00,0.00,0.00,0.00,0.00,0.00
72,Reported Normalized Diluted EPS,3.88,3.86,6.91,7.77,0.00,0.00,0.00,0.00,0.00,0.00,0.00
73,Basic EPS,4.16,3.93,6.91,7.77,10.76,13.73,14.83,13.15,12.51,15.93,26.73
74,Diluted EPS,4.16,3.93,6.91,7.77,10.76,13.73,14.83,13.15,12.51,15.93,26.73
75,Basic WASO,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.12
76,Diluted WASO,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.09,475.12