In [444]:
import pandas as pd
pd.set_option('display.max_rows' , 200)

In [445]:
company_name = 'TCS'

share_price_in = 1000000;

In [446]:
def calculate_growth(initial , final) :
    if not initial :
        return 1
    return round(((final - initial) / initial) * 100,2)

In [447]:
def get_share_price_in(price) :
    return round(price / share_price_in,2)

In [448]:
def vertical_analysis(item , divider = 12.43) :
    return abs(round((item/divider) * 100 ,2))

In [449]:
income_statement = pd.read_excel('data/'+company_name+'/'+company_name+'-income.xls')
balance_sheet = pd.read_excel('data/'+company_name+'/'+company_name+'-balance.xls')
cashflow_statement = pd.read_excel('data/'+company_name+'/'+company_name+'-cashflow.xls')

In [450]:
start_col = income_statement.columns[1];
start_col_balance_sheet = balance_sheet.columns[1];
start_col_cashflow = cashflow_statement.columns[1];

In [451]:
income_statement.rename(columns={company_name+'_income-statement_Annual_As_Originally_Reported' : 'items'} , inplace=True)
balance_sheet.rename(columns={company_name+'_balance-sheet_Annual_As_Originally_Reported' : 'items'} , inplace=True)
cashflow_statement.rename(columns={company_name+'_cash-flow_Annual_As_Originally_Reported' : 'items'} , inplace=True)

In [452]:
basic_eps_filter = income_statement['items'].eq('Basic EPS')
basic_eps_pos = income_statement[basic_eps_filter].index[0]

In [453]:
WASO_filter = income_statement['items'].eq('Basic Weighted Average Shares Outstanding') | income_statement['items'].eq('Diluted Weighted Average Shares Outstanding') | income_statement['items'].eq('Basic WASO') | income_statement['items'].eq('Diluted WASO')
waso_pos = income_statement[WASO_filter].index

In [454]:
income_statement.dropna(how='all',subset=income_statement.columns[1:], inplace=True)
balance_sheet.dropna(how='all',subset=balance_sheet.columns[1:], inplace=True)
cashflow_statement.dropna(how='all',subset=cashflow_statement.columns[1:], inplace=True)
income_statement.fillna(0 , inplace=True)
balance_sheet.fillna(0 , inplace=True)
cashflow_statement.fillna(0 , inplace=True)

In [455]:
temp_df = income_statement.loc[0:basic_eps_pos,start_col:].copy()
temp_df = pd.DataFrame(temp_df)

In [456]:
temp_df = temp_df.apply(get_share_price_in)

In [457]:
income_statement.loc[0:basic_eps_pos,start_col:] = temp_df

In [458]:
income_statement.loc[waso_pos,start_col:] = income_statement.loc[waso_pos,start_col:].apply(get_share_price_in)

In [459]:
income_statement['items'] = income_statement['items'].apply(lambda x: x.strip())

In [460]:
balance_sheet.loc[0:,start_col_balance_sheet:] =  balance_sheet.loc[0:,start_col_balance_sheet:].applymap(get_share_price_in)

In [461]:
cashflow_statement.loc[0:,start_col_cashflow:] =  cashflow_statement.loc[0:,start_col_cashflow:].applymap(get_share_price_in)

In [462]:
vertical_analysis_is = pd.DataFrame(columns=income_statement.columns)
vertical_analysis_is['items'] = income_statement.loc[0:basic_eps_pos - 1,'items'].copy()

In [463]:
total_revenue_filter = income_statement['items'].eq('Total Revenue')
total_revenue = income_statement.loc[total_revenue_filter,start_col:]

In [464]:
for column in vertical_analysis_is.columns[1:] : 
    vertical_analysis_is[column] = income_statement.loc[0:basic_eps_pos - 1,column].apply(vertical_analysis,divider=total_revenue[column])

In [465]:
vertical_analysis_is

,items,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,TTM
0,Gross Profit,57.62,59.73,55.06,57.31,45.38,43.87,45.03,44.02,47.08,47.71,46.86
1,Total Revenue,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
2,Business Revenue,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
3,Excise Taxes,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Cost of Revenue,42.38,40.27,44.94,42.69,54.62,56.13,54.97,55.98,52.92,52.29,53.14
5,Cost of Goods and Services,4.21,3.78,4.05,4.25,2.38,2.19,1.55,1.21,0.89,0.61,0.70
6,"Staff Cost, Cost of Revenue",38.17,36.50,40.89,38.45,52.24,53.93,53.42,54.76,52.02,51.68,52.44
7,Operating Income/Expenses,30.62,30.63,31.08,30.93,19.57,18.93,19.46,19.44,21.09,22.37,22.70
8,"Selling, General and Administrative Expenses",19.04,19.06,18.69,17.85,8.41,8.17,8.64,9.26,13.10,14.55,0.00
9,Staff Costs,12.51,12.99,12.91,12.59,0.00,0.00,0.00,0.00,3.90,4.41,0.00
10,Pension and Other Employee Benefits Costs,12.51,12.99,12.91,12.59,0.00,0.00,0.00,0.00,3.90,4.41,0.00
11,"Legal, Accounting, Auditing and Consulting Fee",0.73,0.75,0.63,0.59,7.51,7.30,7.74,8.24,8.05,9.08,0.00
12,Other Professional Accounting and Consulting Fees,0.00,0.00,0.00,0.00,7.51,7.30,7.74,8.24,0.00,0.00,0.00
13,Telecommunication Expense,1.22,1.07,1.12,1.02,0.90,0.86,0.90,1.01,1.15,1.07,0.00
14,General and Administrative Expenses,1.27,1.13,1.09,0.96,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,Insurance and Claims,0.07,0.07,0.07,0.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,Rent Expense,1.85,1.74,1.66,1.56,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,Selling and Marketing Expenses,1.39,1.31,1.21,1.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,"Depreciation, Amortization and Depletion",1.71,1.65,1.90,1.79,1.68,1.64,1.40,2.25,2.48,2.40,2.28
19,Depreciation and Amortization,1.71,1.65,1.90,1.79,1.68,1.64,1.40,2.25,2.48,2.40,2.28
20,"Other Income/Expense, Operating",9.04,9.06,9.44,10.33,9.48,9.12,9.29,7.84,5.51,5.42,14.05
21,"Other Expenses, Operating",9.04,9.06,9.44,10.33,9.48,9.12,9.29,7.84,5.51,5.42,14.05
22,Provisions,0.02,0.12,0.17,0.11,0.00,0.00,0.13,0.09,0.00,0.00,0.00
23,Provision for Doubtful Accounts,0.02,0.12,0.17,0.11,0.00,0.00,0.13,0.09,0.00,0.00,0.00
24,Operation and Maintenance Expenses,0.65,0.61,0.74,0.67,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25,Taxes Other Than Income Taxes,0.16,0.13,0.13,0.17,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,Total Operating Profit/Loss,27.00,29.09,23.98,26.37,25.81,24.94,25.57,24.58,26.00,25.34,24.16
27,"Non-Operating Income/Expense, Total",1.72,1.96,3.80,2.78,3.45,2.75,2.81,2.34,0.66,1.62,1.15
28,Total Net Finance Income/Expense,1.57,1.59,1.58,1.56,1.89,1.94,1.75,1.68,1.14,0.98,0.01
29,Net Interest Income/Expense,1.57,1.59,1.58,1.56,1.89,1.94,1.75,1.68,1.14,0.98,0.01
30,Interest Expense Net of Capitalized Interest,0.08,0.05,0.11,0.02,0.03,0.04,0.14,0.59,0.39,0.41,0.35
31,Interest Income,1.65,1.64,1.69,1.58,1.92,1.99,1.89,2.27,1.53,1.39,0.00
32,Net Investment Income,0.15,0.24,1.64,1.13,1.60,0.88,0.96,0.61,0.28,0.65,0.00
33,Dividend and Investment Income,0.01,0.01,0.01,0.01,0.00,0.01,0.01,0.01,0.00,0.00,0.00
34,Fair Value or Unrealized Gain/Loss on Financia...,0.00,0.00,0.00,0.00,0.54,0.73,0.29,0.14,0.12,0.10,0.00
35,Gain/Loss on Foreign Currency Exchange,0.08,0.02,1.38,0.68,1.05,0.13,0.66,0.46,0.15,0.54,0.00
36,Gain/Loss on Investments and Other Financial I...,0.07,0.21,0.24,0.43,0.01,0.00,0.00,0.00,0.00,0.00,0.00
37,Rental Income,0.03,0.02,0.02,0.02,0.01,0.01,0.00,0.00,0.00,0.00,0.00
38,Irregular Income/Expense,0.07,0.01,0.51,0.01,0.10,0.15,0.06,0.03,0.86,0.06,0.00
39,Fixed Asset Disposals,0.00,0.01,0.00,0.00,0.00,0.02,0.06,0.03,0.01,0.01,0.01
40,Write Off/Write Down of Other Assets,0.07,0.01,0.01,0.01,0.11,0.17,0.00,0.00,0.12,0.07,0.01
41,Debt Restructuring,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
42,Litigation Income/Expense,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.74,0.00,0.00
43,Other Irregular Income/Expense,0.00,0.00,0.52,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
44,"Other Income/Expense, Non-Operating",0.04,0.09,0.06,0.08,0.05,0.06,0.03,0.02,0.10,0.05,1.06
45,Pretax Income,28.72,31.05,27.79,29.16,29.26,27.69,28.38,26.92,26.65,26.95,25.30
46,Provision for Income Tax,6.37,7.42,6.59,6.72,6.91,6.67,6.83,6.24,6.82,6.90,6.48
47,Current Tax,6.94,7.52,6.63,6.90,6.98,6.71,6.49,6.61,7.09,7.12,6.58
48,Deferred Tax,0.02,0.03,0.03,0.11,0.07,0.04,0.34,0.37,0.27,0.22,0.10
49,Net Income before Extraordinary Items and Disc...,22.35,23.63,21.19,22.44,22.34,21.02,21.55,20.67,19.83,20.05,18.82
50,Net Income after Extraordinary Items and Disco...,22.35,23.63,21.19,22.44,22.34,21.02,21.55,20.67,19.83,20.05,18.82
51,Non-Controlling/Minority Interests,0.25,0.21,0.22,0.08,0.06,0.04,0.06,0.07,0.08,0.06,0.07
52,Net Income after Non-Controlling/Minority Inte...,22.09,23.43,20.97,22.36,22.29,20.98,21.49,20.61,19.75,19.99,18.76
53,Net Income Available to Common Stockholders,22.06,23.38,20.97,22.36,22.29,20.98,21.49,20.61,19.75,19.99,18.76
54,Diluted Net Income Available to Common Stockho...,22.06,23.38,20.97,22.36,22.29,20.98,21.49,20.61,19.75,19.99,18.76
57,"Total Revenue as Reported, Supplemental",0.00,0.00,0.00,0.00,0.00,100.00,100.00,100.00,100.00,100.00,100.00
58,Reported Effective Tax Rate,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
59,Reported Normalized EBITDA,0.00,0.00,28.64,0.00,0.00,0.00,26.97,26.83,27.61,0.00,0.00
60,Reported Normalized Income,0.00,0.00,23.15,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
62,"Research and Development Expenses, Supplemental",0.00,0.00,0.00,0.00,0.24,0.24,0.21,0.19,0.18,0.00,0.00
63,"Rent Expense, Supplemental",0.00,0.00,0.00,0.00,0.00,1.62,1.49,0.00,0.00,0.00,0.00
64,Preferred/Other Stock Distribution,0.04,0.04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
65,Preferred Stock Dividends,0.04,0.04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00